@keyframes write-path {
    0% {
        stroke-dashoffset: 1500;
        fill: rgba(242, 211, 136, 0);
    }

    70% {
        stroke-dashoffset: 0;
        fill: rgba(242, 211, 136, 0);
    }

    100% {
        stroke-dashoffset: 0;
        fill: #f2d388;
        stroke-width: 0.2;
    }
}

.drawing-line {
    fill: rgba(242, 211, 136, 0);
    stroke: #cfc6af;
    /* --gold-light from example */
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: write-path 5s ease-in-out forwards;
}